.text {
  font-family: cursive;
  border: 10px solid greenyellow;
  background-color: tomato;
}



ul{
  font-size: 20px;
  line-height: 20px;
  
}

img {
  width: 80%;
  padding: 10px;
}

#meow-img{
  border: 10px dotted pink;
}

.light{
  background-color: white;
  color: black;
}
.dark{
background-color: black;
color: white;
}

.click-meow{
  display: hidden;
  text-align: center;
  font-style: oblique;
}

.add-cat img{
  display: none;
  width: 50%;
}

.crisis {
  display: none;
  text-align: center;
}

.crisis-block {
  border: 10px dotted pink;
}

.crisis-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.crisis-img:hover {
  border: solid 5px teal;
}

.clickable {
  color: teal;
}

.clickable:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
}