.text {
  font-family: cursive;
  border: 10px solid greenyellow;
  background-color: tomato;
}



ul{
  font-size: 20px;
  line-height: 20px;
  
}

img{
  border: 10px dotted pink;
  padding: 10px;
  margin-top:10px;
  /* margin-bottom:25px; */
  margin: 25px;
  margin-left: 50px;
  padding: 50px;
}

.light{
  background-color: white;
  color: black;
}
.dark{
background-color: black;
color: white;
}